<app-base-page></app-base-page>>
<div class="container" style="width:100%">
 <!--
Name: Kamaljeet Kaur
Student ID: 300974553
Date: 6 March, 2019
-->
<head>
      <style>
        a:hover { text-shadow: 0 0 5px #ff0000; }
      </style>
</head>


       <h1 class="display-4" style="color: black; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px;margin-top:10px; margin: 10 10 0px; text-align: left; text-shadow: 1px 1px 2px black;"><strong>Kamaljeet Kaur</strong></h1>
        <br>

        <div style="float:left; width:65%">
               <p style="font-family:'courier', cursive; font-weight: bold; font-size:16px">
                My name is Kamaljeet Kaur. I am graduating in April 2019 from Centennial College
                with a post-graduation diploma in Software Engineering Technology. I also have
                 bachelor’s degree in Computer Applications from my home country, India.•	During my
                 studies in Centennial College, I developed my technical skills in various programming
                 languages such as C#, .NET, Java, Java EE, HTML, CSS, NodeJS, mobile Applications
                  and cloud computing.

               </p>
               </div>
              <div style="float:right; width:35%">

              <img
                  src="assets/images/kamal.jpeg"
                  alt="no img found"
                  height="300px"
                  style="border:5px solid black; margin-left:10%"
                  ALIGN="center"
                  width="240px"
               />
                <br>
               <a style="text-decoration: none; color:black; font-size: 30px; font-weight: bold"
               href="assets/images/resume.pdf"
               target="_blank"> KAMALJEET KAUR</a>

              </div>


  </div>
