<app-base-page></app-base-page>

<div class = "container ">
    <div style="float:left; width:60%; margin-top: 10px" class="bordered">
      <h1 class="display-4">Welcome to Home Page</h1>
      <p class="lead" style="font-size:30px;">
        Explore our website to use services,you can also get some information about me and projects which I did during my course.
      </p>

    </div>
     <div style="float:right; width:40%; margin-top: 10px" >

      <img
          class="bordered"
          src="assets/images/kamal.jpeg"
          alt="no img found"
          width="500" height="500"
          style="border:5px solid black; margin-left:15%"
          ALIGN="center"
          width="440px" />

        <div class="jumbotron" style="float:right; width:600px;margin-right:110%; margin-top:-45%; background-color: dimgrey">
          <br>
    <a class="btn btn-primary" style="height:50px; width:180px; font-size:20px; margin-left:10%;background-color: darkred" routerLink="/about" role="button"> Read About ME</a>
    <a class="btn btn-primary" style="height:50px; width:180px; font-size:20px; margin-left: 10px;background-color: darkred " routerLink="/projects/project-list" role="button"> My Projects</a>
    </div>
 </div>

