<app-base-page></app-base-page>
<!--
Name: Kamaljeet Kaur
Student ID: 300974553
Date: 06 March, 2019
-->


  <head>
  <style>
  .top-left {
    position: relative;
    align:center;
    top: 2px;
    left: -10px;
    font-size:30px;
    font-family:Billabong;
  }
  .middle {
    position: absolute;
    top: 200px;
    left: 400px;
    font-size:30px;
    font-family:Billabong;

  }
  img {
    border-radius: 20px;
  }
  ul#menu li {
    display:inline;
  }
  </style>
  </head>


  <div class="container" style="width:100%">
       <h1 class="display-4" style="color:black; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px;margin-top:10px; margin: 10 10 0px; text-align: left; text-shadow: 1px 1px 2px black;"><strong> OFFERED SERVICES </strong></h1>
        <br>

  <ul style="list-style-type:none; display:inline;">
    <li>
    <div style="float:right; margin-right:20px">
    <img src="assets/images/services.png" style="height:400px; width:400px"/>
    <div class="top-left" style="left:20px">
    Outsourcing Services
    </div>
  </div>
  </li>

   <li>
    <div>
    <img src="assets/images/mobile.jpg" style="height:400px; width:400px;"/>
    <div class="top-left">
    Mobile Applications
    </div>
  </div>
  </li>

   <li>
    <div style=" float:right; margin-right:-40px">
    <img src="assets/images/testing.png" style="height:400px; width:400px"/>
    <div class="top-left" style="left:90px">
    Testing Services
    </div>
  </div>
  </li>

   <li>
    <div >
    <img src="assets/images/software.jpg" style="height:400px; width:400px"/>
    <div class="top-left">
    Software Consulation Services
  </div>
  </div>
  </li>
  </ul>



